.dark .navbar {
    box-shadow: 0 0.125rem 0.25rem 0 rgb(0, 25, 25);
}

.wg-hero.dark .hero-title, .wg-hero.dark .hero-lead, .wg-hero.dark .hero-cta-alt, .wg-hero.dark .hero-note > * {
    color: #fff;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
}
